.search-container {
	display: flex;
	margin: 10px 0;
}

.search-container input {
	flex: 1;
	padding: 6px;
	font-size: 16px;
	box-sizing: border-box;
	width: 100%;
}

.search-container button {
	padding: 6px 12px;
	font-size: 14px;
}

#strategy-selector-container {
	width: 25%;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	/* height: 100%; */
	min-width: 350px;
}

#strategy-info-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#strategy-result-container {
	width: 25%;
	display: flex;
	flex-direction: column;
}

.strategy-list-item:hover {
	background-color: #cccccc;
}

.strategy-list-item-upper-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.strategy-list-item-name {
	font-size: 14px;
	flex-grow: 1;
}

.strategy-list-item-content {
	font-size: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
}

.strategy-list-item-profit,
.strategy-list-item-operator-btn {
	display: flex;
	gap: 10px;
	margin: 0 5px 0 5px;
}

/*  */
@media screen and (max-width: 500px) {
	#strategy-selector-container {
		width: 100%;
	}

	#strategy-info-container,
	#strategy-result-container {
		display: none;
	}
}

.selected_btn {
	background-color: #333;
	color: white;
}

#strategy-result-history {
	height: 20%;
	/* border: 1px solid #333; */
}

#strategy-result-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 80%;
}

/* .name-code-container {
	width: 20%;
	min-width: 80px;
} */

#code-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

#code_editor {
	flex: 1;
}

.close-open-btn {
	width: 24px;
	height: 24px;
	background-color: #333;
	color: white;
	cursor: pointer;
	text-align: center;
	line-height: 24px;
}

.btn-container {
	display: flex;
	flex-direction: column;
	width: 60px;
}

.btn-container div {
	margin: 2px;
}
