.header {
	display: flex;
	justify-content: space-evenly;
	height: 5vh;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header-btn {
	background-color: #333;
	border: none;
	height: 100%;
	cursor: pointer;
	color: white;
	padding: 0 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.market-item:hover,
.header-btn:hover {
	background-color: #4c4c4c;
}
.header hr {
	height: auto auto auto 1vh;
	width: 1px;
	border: none;
	background-color: #ccc;
	margin: 0;
}
.space {
	width: auto;
	flex-grow: 1;
}
.header-btn.active {
	background-color: #1c1c1c;
	font-weight: bold;
}

.page {
	background-color: #ffff00;
	height: 95vh;
	margin-top: 5vh;
	display: flex;
}

/* Quote */
.kline {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 75%;
}

.setting-button {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	width: 4vw;
	max-width: 4vw;
	background-color: #333;

}
.setting-button:hover {
	background-color: #555;
}

#tvChartContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
}

#chart {
	flex: 1 1 0; /* 允许等比例伸缩 */
	min-height: 0;
}

#watchlist-box {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 95vh;
}
.watchlist-title {
	display: flex;
}
.watchlist-list {
	display: flex;
	flex: 1;
	cursor: pointer;
	overflow: auto;
}
.watchlist-list::-webkit-scrollbar {
	display: none;
}

.watchlist-list-item {
	flex: 1;
	text-align: center;
	white-space: nowrap;
}
.watchlist-list-item:hover {
	background-color: #cccccc;
}

/* 图表设置 */
.drag-window {
	position: absolute;
	height: 400px;
	width: 320px;
	background-color: red;
	border-radius: 10px;
	color: white;
	z-index: 150;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.window-header {
	padding: 12px;
	font-size: 20px;
}
.close {
	color: #ffffff;
	float: right;
	font-weight: bold;
	cursor: pointer;
}
.window-content {
	flex: 1 1 0;
	display: flex;
	min-height: 0;
}

.window-content-left {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.window-content-right {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.window-content-right div,
.window-content-left div {
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.window-table-wrapper {
	flex: 1;
	overflow-y: auto;
}
.window-table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

	table-layout: fixed;
}
.window-table-wrapper::-webkit-scrollbar {
	display: none;
}

.window-table th,
.window-table td {
	padding: 4px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	width: 25%;
}

th {
	background-color: #333;
	color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

tr:hover {
	background-color: #f5f5f5;
}

input {
	width: 100%;
	box-sizing: border-box;
}
