.header {
	display: flex;
	justify-content: space-evenly;
	height: 5vh;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header-btn {
	background-color: #333;
	border: none;
	height: 100%;
	cursor: pointer;
	color: white;
	padding: 0 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.market-item:hover,
.header-btn:hover {
	background-color: #4c4c4c;
}
.header hr {
	height: auto auto auto 1vh;
	width: 1px;
	border: none;
	background-color: #ccc;
	margin: 0;
}
.space {
	width: auto;
	flex-grow: 1;
}
.header-btn.active {
	background-color: #1c1c1c;
	font-weight: bold;
}

.page {
	background-color: #ffff00;
	height: 95vh;
	margin-top: 5vh;
	display: flex;
}

/* Quote */
.kline {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 75%;
}

.setting-button {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	width: 5vh;
}
.setting-button:hover {
	background-color: #555;
}

#tvChartContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
  min-height: 0;
}


#chart {
	flex: 1 1 0; /* 允许等比例伸缩 */
	min-height: 0;
}

#watchlist-box {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 95vh;
}
.watchlist-header {
	display: flex;
}
